$\large{\textbf{Answer 3.}}$

In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv("Berlin-tram-route - Sheet1.csv")
df

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M4,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M5,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M6,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M8,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,M10,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,M13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,16,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,M17,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
11,18,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
13,27,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
14,37,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
15,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0
17,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
18,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0
19,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0
20,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0
21,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN

In [30]:
df.keys()

Index(['route', 'M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16',
       'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67',
       '68'],
      dtype='object')

In [31]:
# deifne list of different colours 
colours=np.arange(22)
colours

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21])

In [32]:
# define sequence in which you select route
routes_sequence= list(df.keys()[1:])
routes_sequence

['M1',
 'M2',
 'M4',
 'M5',
 'M6',
 'M8',
 'M10',
 '12',
 'M13',
 '16',
 'M17',
 '18',
 '21',
 '27',
 '37',
 '50',
 '60',
 '61',
 '62',
 '63',
 '67',
 '68']

In [33]:
Assignment[routes_sequence[0]]= colours[0]

In [57]:
N=len(df)
for j in range(1,N):
  # list of feasible routes
  feasible_colours = colours
  #Assignment[i]=feasible_colours[0]
  for i in routes_sequence[:j]:
    #df[i][j]
    if df[i][j]==1:
        if(Assignment[i] in feasible_colours):
          feasible_colours = np.delete(feasible_colours,np.where(feasible_colours == Assignment[i]))
          #print(feasible_colours)
  Assignment[df['route'][j]]=feasible_colours[0]

In [56]:
Assignment

{'M1': 0,
 'M2': 0,
 'M4': 1,
 'M5': 2,
 'M6': 3,
 'M8': 4,
 'M10': 5,
 '12': 2,
 'M13': 6,
 '16': 0,
 'M17': 1,
 '18': 0,
 '21': 2,
 '27': 5,
 '37': 0,
 '50': 1,
 '60': 3,
 '61': 0,
 '62': 1,
 '63': 2,
 '67': 4,
 '68': 5}

In [39]:
help(np.delete)

Help on function delete in module numpy:

delete(arr, obj, axis=None)
    Return a new array with sub-arrays along an axis deleted. For a one
    dimensional array, this returns those entries not returned by
    `arr[obj]`.

    Parameters
    ----------
    arr : array_like
        Input array.
    obj : slice, int or array of ints
        Indicate indices of sub-arrays to remove along the specified axis.

        .. versionchanged:: 1.19.0
            Boolean indices are now treated as a mask of elements to remove,
            rather than being cast to the integers 0 and 1.

    axis : int, optional
        The axis along which to delete the subarray defined by `obj`.
        If `axis` is None, `obj` is applied to the flattened array.

    Returns
    -------
    out : ndarray
        A copy of `arr` with the elements specified by `obj` removed. Note
        that `delete` does not occur in-place. If `axis` is None, `out` is
        a flattened array.

    See Also
    --------
    insert : Insert elements into an array.
    append : Append elements at the end of an array.

    Notes
    -----
    Often it is preferable to use a boolean mask. For example:

    >>> arr = np.arange(12) + 1
    >>> mask = np.ones(len(arr), dtype=bool)
    >>> mask[[0,2,4]] = False
    >>> result = arr[mask,...]

    Is equivalent to `np.delete(arr, [0,2,4], axis=0)`, but allows further
    use of `mask`.

    Examples
    --------
    >>> arr = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
    >>> arr
    array([[ 1,  2,  3,  4],
           [ 5,  6,  7,  8],
           [ 9, 10, 11, 12]])
    >>> np.delete(arr, 1, 0)
    array([[ 1,  2,  3,  4],
           [ 9, 10, 11, 12]])

    >>> np.delete(arr, np.s_[::2], 1)
    array([[ 2,  4],
           [ 6,  8],
           [10, 12]])
    >>> np.delete(arr, [1,3,5], None)
    array([ 1,  3,  5,  7,  8,  9, 10, 11, 12])